<h1>Secret#index</h1>
<p>Find me in app/views/secret/index.html.erb</p>


<% @secrets.each do |sec| %>
	<p><%= sec.message %></p>
	<% if sec.users_liked.include?(@user) %>
		<form action = "/likes" method = 'post'>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type = 'hidden' name = '_method' value = "delete">
			<input type = 'hidden' name = 'sec_id' value = "<%= sec.id %>">
			<input type = "submit" value = "unlike">
		</form>


	<% else %>
		<form action = "/likes" method = 'post'>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type = 'hidden' name = 'sec_id' value = "<%= sec.id %>">
			<input type = "submit" value = "like">
		</form>
	<% end %>
	<%= sec.likes.count %> Likes
<% end %>




