<h3> Welcome, <%= @user.name %></h3>

<form action = "/secrets" method = "post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">	
	<input type = 'text' name = "message">
	<input type = 'hidden' name = "user_id" value = "<%=@user.id%>">
	<input type = "submit" value = "create secret">
</form>

<% @user.secrets.each do |secret| %>
	<%= secret.message %>
	<form action = "/secrets" method = "post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type = "hidden" name = "secret_id" value = "<%= secret.id %>">
		<input type = "hidden" name = "_method" value = "delete">
		<input type = "submit" value = "delete">
	</form>	
<% end %>
<h1>secrets that you have liked </h1>
<% @user.secrets_liked.each do |sec2| %>
	<p><%= sec2.message %></p>
<% end %>
